[data]
dataset=winequality-red-v3.csv
use_llm_for_data_inference=true
type=regression
delimiter=,
encoding=utf-8
eda=true
sheet_name=null

[output]
path=null

[llm]
provider=ollama
# model=qwen3:1.7b
model=qwen3:4b
# model=llama3.2:3b
# provider=openrouter
# model=nvidia/nemotron-3-nano-omni-30b-a3b-reasoning:free
# model=qwen/qwen3-next-80b-a3b-instruct:free
# model=meta-llama/llama-3.2-3b-instruct:free
# model=liquid/lfm-2.5-1.2b-thinking:free
use_llm=true

[tts]
split=80:20

[ml]
models=random-forest, decision-tree

[evaluation]
metrics=RMSE, MAE

[training]
iters=10
use_cross_validation=true

[training.cv_params]
k_folds=5